// font
$main-font: 'Roboto', sans-serif;

// colors
$white-color: #ffffff;
$beige-color: rgba(247, 247, 247, 1);

$main-text-color: #000000;
$backdrop-color:rgba(0, 0, 0, 0.25);
$secondary-text-color: #8c8c8c;
$footer-text-color: #545454;
$footer-lighttheme-text-color: #545454;
$footer-darktheme-text-color: #F7F7F7;

$accent-text-color: #ff6b08;
$accent-btn-color: #ff6b01;

$hint-red-color: #FF001B;
$footer-bg: #F7F7F7;
$footer-light-bg: #F7F7F7;
$footer-dark-bg: #545454;



// animation
$anim-timing: cubic-bezier(0.4, 0, 0.2, 1);
$anim-duration: 250ms;
