<header class="header header--home">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__link" href="/index.html">
        <svg class="header__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#logo_icon"></use>
        </svg>
        <p class="header__title" id="navlink-homepage">Filmoteka</p>
      </a>
      <nav class="header__nav">
        <button type="button"
          class="header__navlink header__navlink--currentlink"
          id="navlink-home"
        >
          home
        </button>
        <button type="button" class="header__navlink" id="navlink-library"> my library </button>
      </nav>
    </div>

    <!-- Разметка переключателя темы -->
    <div class="toolbar">
        <div class="theme-switch">
          <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
            <use href="./images/sprite.svg#icon-brightness-up"></use>
          </svg>
  
          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Переключить между тёмной и светлой темой"
            />
            <label
              aria-hidden="true"
              class="theme-switch__track"
              for="theme-switch-toggle"
              aria-label="switch_theme"
            >
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>
  
          <svg class="theme-switch__icon" aria-label="Иконка луны">
            <use href="./images/sprite.svg#icon-moon"></use>
          </svg>
        </div>
      </div>

    <!-- Секция поиска, будет активна на главной странице и скрываться на библиотеке -->
    <div class="search__section">
        <form action="searchQuery" class="search__form">
            <label class="search__formwrapper">
                <input type="text" name="searchQuery" class="search__input" id="search-input" placeholder="Поиск фильмов" aria-label="input__search">
                    <button type="submit" class="search__button" aria-label="submit">
                    <svg class="search__inputicon" style="height: 12px; width: 12px;">
                        <use href="./images/sprite.svg#search_icon"></use>
                    </svg>
                </button>
            </label>
        </form>
      <!-- Блок уведомления о неуспешном поиске. Прописан display:none, 
            при выполнении условия в пустом поиске он будет сниматься -->
      <div class="search__hint" id="search-hint">
        <a>Search result not successful. Enter the correct movie name</a>
      </div>
    </div>

    <!-- Секция для кнопок библиотеки, будет скрыта на главной странице и активна на библиотеке -->
    <div class="library__section hidden_markup">
        <div class="library__buttons">
            <button class="library__btn library__btn--active" id="button-watched" aria-label="watched">
                WATCHED
            </button>
            <button class="library__btn" id="button-queue" aria-label="queue">
                QUEUE
            </button>
        </div>
    </div>
    </div>
</header>
