.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  height: 28px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: orange;
  border-color: orange;
}
.tui-pagination .tui-is-selected:hover {
  background-color: orange;
}

.dark-theme {
  .tui-pagination .tui-page-btn {
    color: white;
  }
  .tui-pagination .tui-page-btn:hover {
    background-color: gray;
  }
  .tui-pagination .tui-ico-first,
  .tui-pagination .tui-ico-prev,
  .tui-pagination .tui-ico-next,
  .tui-pagination .tui-ico-last,
  .tui-pagination .tui-ico-ellip {
    filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(198deg) brightness(126%)
      contrast(112%);
  }
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid orange;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid orange;
}

.hidden {
  opacity: 0;
}
